{% extends 'layouts/base.html' %}
{% block title%}
{{title}}
{%endblock%}
{% block content %}
<div class="container mt-4">
    <h1>{{body_title}}</h1>
    <div class="card">
        <div class="card-header">
            <h3> Update question Form </h3>
        </div>
        <div class="card-body">
            <form action="{% url 'question.update' %}" method="POST">
               {% csrf_token %}
               <input type="hidden" name="id" value="{{ question.id }}">
               <p>Question Title:</p>
               <input type="text"  name="question_title">
               <p>Option A:</p>
               <input type="text" name="option_A">
               <p>Option B:</p>
               <input type="text"  name="option_B">
               <p>Option C:</p>
               <input type="text"  name="option_C">
               <p>Option D:</p>
               <input type="text"  name="option_D">
               <p>Correct Answer:</p>
               <input type="text"  name="correct_ans">

                <button type="submit" class="btn btn-primary text-uppercase">Update question</button>
            </form>
        </div>
    </div>
</div>
{% endblock%}